apiVersion: v1
kind: Pod
metadata:
  name: mypod
  labels:
    app.kubernetes.io/name: mypod
spec:
  containers:
  - name: nginx
    image: nginx:stable
    resources:
      limits:
        memory: "128Mi"
        cpu: "500m"
    ports:
      - containerPort: 80
